* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: "Roboto", sans-serif;
}

body {
    background-color: #2c2c2c;
    padding-bottom: 5rem;
}

.navbar {
    display: flex;
    flex-direction: row;
    height: 3rem;    
    align-items: center;
    justify-content: end;  
    border-bottom: 1px solid #fff;  
    padding: 1rem;
}

.navbar button {
    background-color: #2c2c2c;
    padding: 0.3rem;
    border-radius: 100%;
}

.topbar {
    display: flex;
    flex-direction: row;    
    position: fixed;
    bottom: 0;
    width: 100vw;
    justify-content: center;
    padding: 1rem;
    background-color: #000;
    border-top: solid 1px #fff;
}
.menu-itens {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
    cursor: pointer;        
}

.menu-itens a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 0.68rem;
    background-color: #2c2c2c;
    padding: 0.3rem 0.4rem;
    border-radius: 1rem;
}

.main-content {
    padding: 1rem;
}

.section1 h1 {
    font-size: 1.9rem;
        font-weight: 600;
    text-transform: uppercase;
    color: #c7c7c7;
}

.section1 p {
    font-size: 1rem;
    padding-bottom: 1rem;    
}

.social-icons {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
    justify-content: start;    
}

.social-icons li {
    text-decoration: none;
    list-style: none;            
    align-content: center;    
}

.main-content-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button-projects {
    width: 80%;
    height: 3rem;
    margin: 0.8rem;
    border-radius: 100px;
    border: 2px solid #fff;
    background-color: #2c2c2c;
    
    color: #fff;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.section2 {
    background-color: #c7c7c7;    
    padding: 1rem;
}

.section2 h1 {
    color: #2c2c2c;
    padding-bottom: 1rem;
}

.section2 ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1rem;
    justify-content: center;    
}

.section2 ul li {
    padding: 1rem;
    border: 1px solid #2c2c2c;
    border-radius: 100%;
}

.section7 {
    padding: 1rem;
}

.section7 h1 {
    color: #c7c7c7;
}

.section7 p {
    padding: 1rem 0;
}

.footer {
    padding: 0 1rem;
    font-size: 0.8rem;
    color: #c7c7c7;
    text-align: center;
}